<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" ng-app="fpApp">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FP5.0 : Module 3</title>
     <script src="lib/Angular/angular.js"></script>
        <script src="lib/jquery.js"></script>
<script src="lib/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
      
      <!--  <script src="js/mediaelement-and-player.min.js"></script>
        <link rel="stylesheet" href="Style/mediaelementplayer.css" />-->
              <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
   <script type="text/javascript">
    $(document).load().scrollTop(0);
</script>
<style>
    #home-menu .ddmenu li:hover .submenu{
        height :100px;
    }
progress 
{
   -webkit-appearance: none;
   appearance: none;
}
progress::-moz-progress-bar { background: darkcyan; }
progress::-webkit-progress-bar { background: #9eacba; }
progress::-webkit-progress-value { background: darkcyan; }
</style>
    <script type="text/javascript" src="js/script.js"></script>    
   
    <link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/db.css"> 
</head>
<body onload="    MM_preloadImages('images/arrow-l.png', 'images/arrow-r.png','images/arrow-l-hl.png', 'images/arrow-r-hl.png')">
        <div class="gridContainer clearfix" ng-controller="paging">
        
        <div style="margin-top: 2%" data-ng-include="pg" onload="reSizing()"></div>
        
        <div id="menu-top">
            <div id="home-menu">
                <ul class="ddmenu">
                    <li>
                        <a href="#" class="home-menu-icon" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Menu','','images/menu-hl.png',1)"><img id="Menu" src="images/menu.png" alt=""></a>
                        <div class="submenu" id="home-submenu">
                            <ul>
                                <li><a href="dbtoc.html">Py DB</a></li>
                                <li><a href="../index1.html">Home</a></li>                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="pageheading">
                <h1 id="title"><b>{{htext}}</b></h1>
            </div>           
        </div>
        <div id="footer">
            <div id="footer-tell">
                <div id="prev"><a href="" ng-click="getPrev()" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nav-prev','','images/arrow-l-hl.png',1)"><img id="nav-prev" src="images/arrow-l.png" alt=""></a></div>
                <div id="tell" style="margin-left:37px"><p id="telltext" style="text-align: center;font:12pt Verdana solid">{{pageNumber}}  </p></div>
                <div id="next"><a href="" ng-click="getNext()" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nav-next','','images/arrow-r-hl.png',1)"><img id="nav-next" src="images/arrow-r.png" alt=""></a></div>
            </div>
            <div id="footer-copyright">&copy; 2017 Infosys Limited. All rights reserved.</div>
        </div>
        <div id="page-progress">
                <progress id="prog-bar" value="{{pageNumber}}" max="95" style="position:fixed;bottom:24px;height:10px;width:1200px"></progress>
            </div>
          </div>
    </body>
</html>

