
    .section-header{
        text-align: center;        
        font: 40pt Verdana solid;
        color: grey ;
        font-weight: bold;
    }
    .section-number{
        text-align: center;        
        font: 30pt Verdana solid;
        color: grey ;
        font-weight: bold;
    }
    
    .btn-section{
    border-radius: 10px;
    border: 4px solid grey;
    padding: 20px; 
    
}

#option1mtf, #option2mtf, #option3mtf, #option4mtf, #option5mtf, #option6mtf, #option7mtf, #option8mtf, #option9mtf  {
    white-space: pre-wrap;
}



    
    
/******************************************************************************************************************/

    /* other custom styles*/
    .centered{
        position : relative;
        left : 30px
    }
   
    #title-quiz{
         position : relative;
         left: 15px;
         top: 10px
    }
    
    #question{
        white-space: pre-wrap
    }
    
    #option1,#option2,#option3,#option4{
        white-space: pre-wrap
    }
    
    #scroll-arrow{
        position : fixed;
        top : 695px;
        right : 28px
    }
    
    .linktext{
        font: 14pt Consolas;
        text-decoration:underline;
        color: #0000EE;
        text-align:center;
    }
    
    .boxtext{
        text-align:center;
        padding:10px;
        font:19px Consolas, sans-serif;
    }
    
    .durationtext{
        text-align:center;
        font:11pt Verdana, sans-serif;
        padding:5px;
    }
    
    #manual{
        font-family: Verdana, sans-serif;
        font-size: 12pt;
        text-decoration-color: #727272;
        color:#727272;
    }
    
    .section-number{
        text-align: center;        
        font: 32pt Verdana solid;
        //color: #0099fe ;
        color: #929292;
        font-weight: bold;
    }
    .section-header{
        text-align: center;        
        font: 40pt Verdana solid;
        //color: #0099fe ;
        color: #727272;
        font-weight: bold;
    }
    .btn-duration{
    border-radius: 10px;
    border: 2px solid #0099fe;
    padding: 20px; 
    position : inherit
}

.btn-section{
    border-radius: 10px;
    border: 4px solid #0099fe;
    padding: 20px; 
    
}

.btn-other{
    border-radius: 10px;
    border: 2px solid #0099ff;
    padding: 20px;
    position : inherit;
    color: #525252;
}

.btn-linkbox{
    border-radius: 10px;
    border: 2px solid #0099ff; 
    border-width: 3px;
}

.row{
    margin-bottom: 10px;
}

li, ul{
    margin-bottom:10px;
}


  .imgmod
    {
        margin-left: 30%;
        height: 610px;
        width:500px;
    }
    #i1:hover{
        height: 810px;
        width:700px;
        margin-left: 20%;
       
    }
    #jpedal{
        background-color:#34427d;
        margin-top:-1em;
        width: 1200px; 
    }


/******************************************************************************************************************/


