/*toc.css*/
/*@charset "UTF-8";*/
table {
    margin: 0 auto 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: none;
    background-color: rgba(0,0,0,0.00);
}
td, tr {
    height: 50px;
    background-color: rgba(0,0,0,0.00);
    border-style: none;
}

td.topic-complete {
    width: 100px;
    vertical-align: middle;
    background-image: url(images/topic-complete.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.status {
    width: 150px;
}
td.topic {
    width: 250px;
    vertical-align: top;
    padding-top: 15px;
    font-size: 1em;
    margin-top: 0px;
    font-weight: bold;
}
td.sub-topic {
    width: 350px;
    vertical-align: middle;
}
td.exercise-hl {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(images/exercise-hl.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.assignment-hl {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(../images/assignment-hl.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.quiz-hl {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(../images/quiz-hl.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.exercise {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(images/exercise.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.assignment {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(images/assignment.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.quiz {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-image: url(images/quiz.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
td.empty-item {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.row-bottom-border {
    border-bottom: 1px solid rgba(200, 200, 200,1.00);
}
.row-top-bottom-border {
    border-top: 1px solid rgba(200,200,200,1.00);
    border-bottom: 1px solid rgba(200,200,200,1.00);
}
.even {
    background-color: rgba(248, 248, 248, 1.00);
}
.odd {
    background-color: white;
}

.topic.locked {
    padding-left: 20px;
    color: hsla(0,0%,60%,1.00);
    background-image: url(images/locked.png);
    background-repeat: no-repeat;
    background-position: 2px 22px;
}
.sub-topic.locked {
    color: hsla(0,0%,60%,1.00);
}

